.repoList {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
  }
  
  .repoItem {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    list-style-type: none;
  }
  
  .repoItem a {
    font-size: 15px;
    color: white;
    text-decoration: none;
  }
  
  .repoItem p {
    margin-top: 5px;
    color: white
  }
  
  .repoDate {
    font-size: 0.9em;
    color: #6a737d;
    margin-top: 5px;
  }