.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem; /* Adjust this padding as needed */
  background-color: #F2E3DA;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 100px; /* Set an explicit height for the navbar */
  background: linear-gradient(to bottom, #F2E3DA 0%, rgba(242, 227, 218, 0) 125%);
  border-bottom: none; /* Removes any border at the bottom */
  box-shadow: none;  
}

.navLogo {
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 100%; /* Make the .navLogo div take the full height of the navbar */
}


.navLogo img {
  height: 100%; /* Make the image take up the full height of the .navLogo div */
  width: auto; /* Maintain aspect ratio */
}

.navLinks {
  display: flex;
  list-style-type: none;
}

.navItem {
  margin-left: 1rem;
}

.navLink {
  color: #333;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  font-size: 1.2rem; /* Adjust the font size to make the text larger */

}

.navLink:hover {
  background-color: #e9ecef;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 3px 0;
  transition: 0.4s;
}

@media (max-width: 768px) {
  .navLinks {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }

  .navLinks.active {
    display: flex;
  }

  .navItem {
    margin: 0.5rem 0;
  }

  .hamburger {
    display: flex;
  }
}