.aboutSection {
  padding: 1.5rem;
  max-width: 800px;
  width: 100%;
  font-family: 'Cascadia Code', monospace;
  color: white;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
  font-size: 1.1rem;
  background-color: rgba(135, 206, 235, 0.4);    
  border-radius: 15px;
  margin-right: 2rem;
  align-self: flex-end;
  
}

.aboutSection h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
  .aboutSection {
    margin-right: 0;
    padding: 1.5rem;
  }

}

.logoLink {
  display: inline-block;
  transition: filter 0.3s ease;
}

.logoLink:hover .logo {
  filter: brightness(0) saturate(100%) invert(56%) sepia(83%) saturate(1095%) hue-rotate(188deg) brightness(96%) contrast(98%);
}

.section-title:hover .logoLink .logo {
  filter: brightness(0) saturate(100%) invert(56%) sepia(83%) saturate(1095%) hue-rotate(188deg) brightness(96%) contrast(98%);
}





