.aboutSection {
  padding: 2.1rem;
  max-width: 1120px;
  width: 100%;
  font-family: 'Cascadia Code', monospace;
  color: white;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
  font-size: 1.54rem;
  background-color: rgba(135, 206, 235, 0.4);    
  border-radius: 21px;
  margin-right: 3rem;
  align-self: flex-end;
}

.logoContainer {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2.1rem;
}

.logoLink {
  display: inline-block;
  transition: filter 0.3s ease;
}

.logoLink:hover .logo {
  filter: brightness(0) saturate(100%) invert(56%) sepia(83%) saturate(1095%) hue-rotate(188deg) brightness(96%) contrast(98%);
}

.logo {
  height: 2.1em;
  vertical-align: middle;
}

.mediumLogo {
  height: 1.96em;
  position: relative;
  left: -11px;
  top: -7px;
}

@media (max-width: 768px) {
    .aboutSection {
      position: absolute;
      bottom: 6%; /* Adjust this value to position it as desired */
      right: 5%;
      width: 80%;
      max-width: 400px;
      padding: 1.5rem;
      margin-right: 0;
      font-size: 0.9rem;
  }

  .logoContainer {
    justify-content: center;
  }
}