.aboutSection {
  backdrop-filter: blur(10px);
  background-color: rgba(135, 206, 235, 0.3);
  border-radius: 15px;
  padding: 2rem;
  margin: 1rem;
  position: relative;
  z-index: 1;
  max-width: 1000px;
  width: 100%;
  margin-top: 20vh;
  margin-left: 15%;
  font-family: 'Cascadia Code', monospace;
}

.aboutContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  font-size: 20rem;
  font-weight: bold;
  font-family: 'Cascadia Code', monospace;
  width: 100%;
}

.titleLink {
  color: white;
  text-decoration: none;
  transition: opacity 0.3s ease;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.titleLink:hover {
  opacity: 1.8;
}

.titleSeparator {
  margin: 0 1rem;
  color: white;
}

.logoContainer {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
  width: 100%;
}

.logoLink {
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.logoLink:hover {
  opacity: 1;
}

.logo {
  width: 80px;
  height: 80px;
  margin: 0 10px;
}

.textContent {
  width: 100%;
}

.textWrapper {
  position: relative;
  z-index: 2;
  text-align: center;
  margin: 0 auto;
  max-width: 90%;
}

.textWrapper p {
  margin-bottom: 1.5rem;
  line-height: 1.6;
  font-size: 1rem;  /* Changed from 1.1rem to 1rem */
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-family: 'Cascadia Code', monospace;
}

.preselected {
  background-color: var(--accent-color);
  color: var(--text-color) !important;
  padding: 2px 4px;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  transition: opacity 0.3s ease;
}

.preselected:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .aboutSection {
    text-align: center;
    width: 90%;
    padding: 1.5rem;
    margin: 45vw auto 0;
  }

  .titleContainer {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }

  .textContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logoContainer {
    justify-content: center;
  }

  .textWrapper {
    max-width: 100%;
  }

  .logo {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 480px) {
  .aboutSection {
    padding: 1rem;
    margin-top: 50vw;
  }

  .titleContainer {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .textWrapper p {
    font-size: var(--body-font-size) !important;
  }
}