.articleList {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
  }
  
  .articleItem {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    list-style-type: none;
  }
  
  .articleItem a {
    font-size: 15px;
    color: white;
    text-decoration: none;
  }
  
  .articleItem p {
    margin-top: 5px;
    color: white;
    font-size: 0.9em;
  }